Repository p7gg/turborepo-starter, changes with the labels that .github/labeler.yml gives for each.
All labels: ðŸ“š docs, @acme/core

ci: setup dependabot auto approve prs
  .github/workflows/dependabot-approve.yml
Labels: none

fix: prettier import sorter
  .prettierrc.js
  package.json
  pnpm-lock.yaml
  scripts/clean.ts
Labels: none

fix: root dependencies
  package.json
  pnpm-lock.yaml
Labels: none

chore(lint): add filename-case ignore
  .eslintrc.js
Labels: none

chore(lint): add ignorePatterns
  .eslintrc.js
Labels: none

refactor: replace prettier import sort plugin
  .prettierrc.js
  apps/docs/src/App.tsx
  apps/docs/src/index.tsx
  package.json
  packages/core/vite.config.ts
  pnpm-lock.yaml
  scripts/clean.ts
  scripts/utils.ts
Labels: ðŸ“š docs, @acme/core

ci(renovate): remove packaRules
  renovate.json
Labels: none

refactor: improve repo commands
  .vscode/settings.json
  package.json
Labels: none

chore: add prettierignore
  .prettierignore
Labels: none

chore: improve tsconfig
  apps/docs/tsconfig.json
  packages/core/tsconfig.json
  templates/new-package/tsconfig.json.hbs
Labels: ðŸ“š docs, @acme/core

chore: add vite resolve alias
  apps/docs/vite.config.ts
  packages/core/vite.config.ts
  templates/new-package/vite.config.ts.hbs
Labels: ðŸ“š docs, @acme/core

ci: fix main workflow
  .github/workflows/main.yml
Labels: none

fix: update pnpm-lock
  pnpm-lock.yaml
Labels: none

chore: remove unused var in clean script
  scripts/clean.ts
Labels: none

chore: remove renovate config file
  renovate.json
Labels: none

style: lint
  renovate.json
Labels: none

chore: add resolve alias to vite dev config
  packages/core/dev/vite.config.ts
Labels: @acme/core

chore: patch rollup-preset-solid
  packages/core/vite.config.ts
  patches/rollup-preset-solid@2.0.1.patch
  pnpm-lock.yaml
Labels: @acme/core

fix: workspace tasks
  .vscode/settings.json
  .vscode/tasks.json
  package.json
Labels: none

chore: update deps
  apps/docs/package.json
  package.json
  packages/core/package.json
  pnpm-lock.yaml
Labels: none

chore: add eslint-plugin-solid
  .eslintrc.js
  package.json
  pnpm-lock.yaml
Labels: none

chore: fix casing in hbs template
  templates/new-package/package.json.hbs
Labels: none

chore: add consistent-type-import eslint rule
  .eslintrc.js
  packages/core/dev/index.tsx
Labels: @acme/core

chore: add .css.ts files to ignore filename-case eslint
  .eslintrc.js
Labels: none

chore: add stricter tsconfig options
  apps/docs/src/App.tsx
  tsconfig.json
Labels: ðŸ“š docs

chore: stricter eslint rules
  .eslintrc.js
  apps/docs/src/index.tsx
  package.json
  packages/core/dev/index.tsx
  pnpm-lock.yaml
Labels: ðŸ“š docs, @acme/core

chore: eslint rules
  .eslintrc.js
Labels: none

chore(scripts): more descriptive names
  scripts/clean.ts
Labels: none

chore: more descriptive tasks label
  .vscode/tasks.json
Labels: none

chore: replace taze with native pnpm update
  package.json
  pnpm-lock.yaml
Labels: none

chore: bump deps
  apps/docs/package.json
  package.json
  packages/core/package.json
  pnpm-lock.yaml
Labels: none

chore: update README
  README.md
Labels: none

Create codesandbox tasks.json
  .codesandbox/tasks.json
Labels: none

chore: split main component from entry point
  packages/core/dev/App.tsx
  packages/core/dev/index.tsx
Labels: @acme/core

chore: add .node-version
  .node-version
Labels: none

chore: fix __dirname
  apps/docs/vite.config.ts
  packages/core/vite.config.ts
Labels: ðŸ“š docs, @acme/core

chore: setup changesets
  .changeset/README.md
  .changeset/config.json
  package.json
  pnpm-lock.yaml
Labels: none

ci: add release workflow
  .github/workflows/release.yml
Labels: none

ci(release): fix publish step
  .github/workflows/release.yml
Labels: none

chore: add docs to changeset ignore
  .changeset/config.json
Labels: none

.github/labeler.yml:

'ðŸ“š docs':
  - any: ['apps/docs/**', '!apps/docs/**/package.json']

'@acme/core':
  - any: ['packages/core/**', '!packages/core/package.json']
